[Unit]
Description=Taurak Discord bot
After=network.target

[Service]
Type=simple
ExecStartPre=/home/maintainer/dev/taurak/start.sh
ExecStart=/home/maintainer/dev/taurak/target/release/taurak
Restart=always
User=maintainer

[Install]
WantedBy=multi-user.target