[Unit]
Description=Taurak Discord bot
After=network.target

[Service]
Type=simple
ExecStartPre=/home/maintainer/dev/taurak/start.sh
ExecStart=/home/maintainer/dev/taurak/target/release/taurak
Restart=always
User=maintainer
WorkingDirectory=/home/maintainer/dev/taurak/
StartLimitBurst=10
TimeoutStopSec=infinity
RestartSec=5

[Install]
WantedBy=multi-user.target